body {
    background-color: #000000;
}

.reveal {
    font-family: "Roboto";
    font-weight: bold;
}

.reveal .slides > section {
    padding-top: 0;
}

.reveal section img {
    background: none;
    border: none;
}

.reveal blockquote {
    background: none;
}

div.spread {
    display: flex;
    justify-content: space-around;
}
